[submodule "long-timeout"]
	path = long-timeout
	url = https://github.com/Supinic/long-timeout
[submodule "custom_modules/long_timeout"]
	path = custom_modules/long_timeout
	url = https://github.com/Supinic/long-timeout
[submodule "custom_modules/long-timeout"]
	path = custom_modules/long-timeout
	url = https://github.com/Supinic/long-timeout
[submodule "custom_modules/custom-request-promise"]
	path = custom_modules/custom-request-promise
	url = https://github.com/Supinic/custom-request-promise
